<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.hello_blog.domain.comment.repository.CommentMapper">

    <insert id="saveComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment(content, created_at, member_id, post_id, parent_id)
        VALUES (#{content}, #{createdAt}, #{memberId}, #{postId}, #{parentId});
    </insert>

</mapper>