<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.hello_blog.domain.category.repository.mybatis.CategoryMapper">

    <insert id="addCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category(name, parent_id)
        VALUES (#{name}, #{parentId})
    </insert>

</mapper>