<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.hello_blog.domain.member.repository.MemberMapper">

    <insert id="saveMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member(email, password)
        VALUES (#{email}, #{password})
    </insert>

    <delete id="deleteMember">
        DELETE
        FROM member
        WHERE id = #{id}
    </delete>

    <select id="findMemberByEmail" resultType="Member">
        SELECT id, email, password
        FROM member
        WHERE email = #{email}
    </select>

</mapper>