<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.hello_blog.domain.like.repository.LikeMapper">

    <insert id="savePostLike">
        INSERT INTO `like`(member_id, post_id)
        VALUES (#{memberId}, #{postId})
    </insert>

    <insert id="saveCommentLike">
        INSERT INTO `like`(member_id, comment_id)
        VALUES (#{memberId}, #{commentId})
    </insert>

    <select id="countLikeById" resultType="int">
        SELECT COUNT(*)
        FROM `like`
        WHERE
        <if test="postId != null">
            post_id = #{postId}
        </if>
        <if test="commentId != null">
            comment_id = #{commentId}
        </if>
    </select>

</mapper>