<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.hello_blog.domain.category.repository.CategoryMapper">

    <resultMap id="CategoryResponseMap" type="CategoryResponse">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="thumbUrl" column="thumbUrl"/>
        <result property="parentId" column="parentId"/>
        <result property="createdAt" column="createdAt"/>
        <result property="postCount" column="postCount"/>
        <result property="childCategoryCount" column="childCategoryCount"/>
    </resultMap>

    <!-- 카테고리 인서트 -->
    <insert id="insertCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category(name, thumb_url, parent_id)
        VALUES (#{name}, #{thumbUrl}, #{parentId})
    </insert>

    <!-- id로 카테고리 조회 -->
    <select id="selectCategoryById" resultType="Category">
        SELECT id, name, thumb_url, parent_id, created_at
        FROM category
        WHERE id = #{id}
    </select>

    <!-- name으로 카테고리 조회 -->
    <select id="selectCategoriesByName" resultType="Category">
        SELECT id, name, thumb_url, parent_id, created_at
        FROM category
        WHERE name = #{name}
    </select>

    <!-- id의 모든 하위 카테고리 조회 -->
    <select id="selectAllSubCategoriesById" resultType="Category">
        WITH RECURSIVE AllChildren AS (SELECT id,
                                              name,
                                              thumb_url,
                                              parent_id,
                                              created_at
                                       FROM category
                                       WHERE id = #{id}

                                       UNION ALL

                                       SELECT children.id,
                                              children.name,
                                              children.thumb_url,
                                              children.parent_id,
                                              children.created_at
                                       FROM category children
                                                INNER JOIN AllChildren ac ON children.parent_id = ac.id)

        SELECT id         AS id,
               name       AS name,
               thumb_url  AS thumbUrl,
               parent_id  AS parentId,
               created_at AS createdAt
        FROM AllChildren;
    </select>

    <!-- 카테고리랑 카테고리에 게시된 글 수 조인  -->
    <select id="selectCategoryAndPostCountJoinPostById" resultMap="CategoryResponseMap">
        SELECT c.id         AS id,
               c.name       AS name,
               c.thumb_url  AS thumbUrl,
               c.parent_id  AS parentId,
               c.created_at AS createdAt,
               COUNT(p.id)  AS postCount
        FROM category c
                 LEFT JOIN (SELECT id
                            FROM post
                            WHERE category_id = #{id}) p ON c.id = p.id
        WHERE c.id = #{id}
    </select>

    <!-- 최상위 카테고리에 게시된 게시글의 개수와 그 하위 카테고리들의 개수를 조회 -->
    <select id="selectCategoriesWhereParentIdIsNull" resultMap="CategoryResponseMap">
        SELECT root.id                        AS id,
               root.name                      AS name,
               root.thumb_url                 AS thumbUrl,
               root.parent_id                 AS parentId,
               root.created_at                AS createdAt,
               COUNT(distinct postsInRoot.id) AS postCount,
               COUNT(distinct children.id)    AS childCategoryCount
        FROM category root
                 LEFT JOIN (SELECT id,
                                   category_id
                            FROM post) postsInRoot ON postsInRoot.category_id = root.id
                 LEFT JOIN (SELECT id,
                                   parent_id
                            FROM category) children ON children.parent_id = root.id
        WHERE root.parent_id IS NULL
        GROUP BY root.id
    </select>

    <!-- 부모 카테고리 + 자식 카테고리 각각에 게시된 게시글의 개수와 그 하위 카테고리들의 개수를 조회-->
    <select id="selectCategoriesByParentId" resultMap="CategoryResponseMap">
        SELECT parent.id                        AS id,
               parent.name                      AS name,
               parent.thumb_url                 AS thumbUrl,
               parent.parent_id                 AS parentId,
               parent.created_at                AS createdAt,
               COUNT(distinct postsInParent.id) AS postCount,
               COUNT(distinct children.id)      AS childCategoryCount
        FROM category parent
                 LEFT JOIN (SELECT id,
                                   category_id
                            FROM post
                            WHERE category_id = #{parentId}) postsInParent ON parent.id = postsInParent.category_id
                 LEFT JOIN (SELECT id,
                                   parent_id
                            FROM category
                            WHERE parent_id = #{parentId}) children ON parent.id = children.parent_id
        WHERE parent.id = #{parentId}

        UNION ALL

        SELECT children.id                        AS id,
               children.name                      AS name,
               children.thumb_url                 AS thumbUrl,
               children.parent_id                 AS parentId,
               children.created_at                AS createdAt,
               COUNT(distinct postsInChildren.id) AS postCount,
               COUNT(distinct grandChildren.id)   AS childCategoryCount
        FROM category children
                 LEFT JOIN (SELECT id,
                                   category_id
                            FROM post) postsInChildren ON postsInChildren.category_id = children.id
                 LEFT JOIN (SELECT id,
                                   parent_id
                            FROM category) grandChildren ON grandChildren.parent_id = children.id
        WHERE children.parent_id = #{parentId}
        GROUP BY children.id
    </select>

    <!-- 카테고리 수정 -->
    <update id="updateCategoryById">
        UPDATE category
        SET name      = #{name},
            thumb_url = #{thumbUrl},
            parent_id = #{parentId}
        WHERE id = #{id}
    </update>

    <!-- 카테고리 삭제 -->
    <delete id="deleteCategoryById">
        DELETE
        FROM category
        WHERE id = #{id};
    </delete>

</mapper>
