<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.hello_blog.domain.post.repository.PostMapper">

    <insert id="post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post(title, content, category_id)
        VALUES (#{title}, #{content}, #{categoryId});
    </insert>

    <select id="findPostById" resultType="Post">
        SELECT id, title, content, created_at, fixed_at, category_id
        FROM post
        WHERE id = #{id}
    </select>

</mapper>